:root {
    color: black;
    font-size: 16px;
}

body {
    background-color: rgb(22, 20, 21);
    margin: 50px;
    padding: 0px;
}

canvas#TC {
    margin: auto;
    display: block;
}

@font-face {
    font-family: "birdyFont";
    src: url( "./imgs/Ffont.TTF" ) format("truetype");
}

h1 { 
    text-align: center;
    font-family: "birdyFont", Arial;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 0px;
    margin-bottom: 5px;;
}


.top {
    position: relative;
    z-index: -999999;
    font-size: large;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
}

#mainContainer .cols {
    width: 32%;
}

#leftSect {
    /* background-color: rgb(34, 34, 36); */
    margin: 0px;
    padding: 0px;
}

#rightSect {
    /* background-color: rgb(34, 34, 36); */
    margin-left: 20px;
}


#leftInnerContent {
    border-radius: 0px 20px 0px 0px;
    float: right;
    font-size: 20px;
    font-family: "birdyFont";
    color: white;
    background-color: rgb(34, 34, 36);
    width: 300px;
    /* height: 300px; */
    padding: 20px;
}

#leftInnerContent2 {
    border-radius: 0px 20px 0px 0px;
    margin-top: 20px;;
    float: right;
    font-size: 20px;
    font-family: "birdyFont";
    color: white;
    background-color: rgb(34, 34, 36);
    width: 300px;
    /* height: 300px; */
    padding: 20px;
}

#tapim {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#rightInnerContent {
    border-radius: 0px 20px 0px 0px;
    float: left;
    font-size: 20px;
    font-family: "birdyFont";
    color: white;
    background-color: rgb(34, 34, 36);
    width: 300px;
    padding: 20px;
}

#rightInnerContent2 {
}


#rightInnerGOLD {
    margin-top: 10px;
    float: left;
    font-size: 15px;
    font-family: "birdyFont";
    color: rgb(0, 0, 0);
    background-color: rgb(245, 255, 112);
    min-height: 15px;
    width: 300px;
    padding: 20px;
}
#rightInnerSILVER {
    margin-top: 10px;
    float: left;
    font-size: 15px;
    font-family: "birdyFont";
    color: rgb(0, 0, 0);
    background-color: rgb(184, 177, 162);
    min-height: 15px;
    width: 300px;
    padding: 20px;
}
#rightInnerBRONZE {
    margin-top: 10px;
    float: left;
    font-size: 15px;
    font-family: "birdyFont";
    color: rgb(0, 0, 0);
    background-color: rgb(172, 152, 98);
    min-height: 15px;
    width: 300px;
    padding: 20px;
}

#rightInnerENCOMPASS2 {
    border-radius: 0px 20px 0px 0px;
    margin-top: 50px;
    float: left;
    font-size: 20px;
    font-family: "birdyFont";
    color: white;
    background-color: rgb(34, 34, 36);
    width: 300px;
    padding: 20px;
}